      *{
        text-align: center;
      }

      .wrapper{    
          width: 100vw;
          height: 900px;
        }
        
        .ResumeRegistrationForm {
        position:absolute;
        padding: 30px, 20px;
        background-color:#FFFFFF;
        text-align:center;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        border-radius: 15px;
        }
    
       .ResumeRegistrationForm h2{
        text-align: center;
        margin: 30px;
        }
        
        .ResumeRegistrationBtn {
        position:relative;
        left:40%;
        transform: translateX(-50%);
        margin-bottom: 40px;
        width:80%;
        height:40px;
        background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
        background-position: left;
        background-size: 200%;
        color:white;
        font-weight: bold;
        border:none;
        cursor:pointer;
        
        transition: 0.4s;
        display:inline;
        }
    
        .ResumeRegistrationBtn:hover {
        background-position: right;
        }
    
    