*{
    padding: 0;
    margin: 0 auto;
}



.wrapper{
    width: 100vw;
    height: 1800px;
    display: flex;
    flex-direction: column;
}


footer{
    width: 100vw;
    height: 80px;
    border-top: 0.3px groove;
    background-color: gray;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

footer a{
    color: white;
}

.wrapper .row{
    width: 100vw;
    height: 1000px;
    border: 0.5px solid;
}

.wrapper .row.first{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .row.first .content{
    width: 60%;
    height: 60%;

    
}


.modal-content{
    height: 800px;
    margin: 0 auto;
}

.modal-body{
    margin: 0;
    margin-top: 70px;
}

.modal-body .actions{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.modal-body .actions button{
    margin-top: 50px;
    height: 70px;
    font-size: larger;
}

.lookup .modal-body .actions button{
    margin-top: 10px;
    height: 70px;
    font-size: larger;
}

.id-lookupForm{
    display: none;
}

.pw-lookupForm{
    display: none;
}

.id-lookupForm.show{
    display: block;
}

.pw-lookupForm.show{
    display: block;
}