footer{
    width: 100vw;
    height: 80px;
    border-top: 0.3px groove;
    background-color: gray;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

footer a{
    color: white;
}