        *{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: gray;
    margin: 0 auto;
}

.content{
    width: 900px;
    height: 100%;
}

.progressWhere{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.4px solid;
    background-color: white;
}

.progressWhere span{
    width: 140px;
    height: 40px;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}

.content .form{
    width: 100%;
    height: 790px;
    display: none;
    background-color: white;
}

.content .form.show{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sort.show .choice{
    
    width: 300px;
    height: 200px;

}

.choice.selected{
    background-color: red;
}

.actions{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.actions input{
    margin-right: 20px;
    width: 150px;
    height: 50px;
}




.input-group{
    margin-top: 50px;
}

.row.position button{
    width: 100%;
}

.row.skil-stack{
    display: flex;
    flex-direction: column;
}

.row.carrer{
    display: flex;
    flex-direction: column;
}





.range{
    visibility: hidden;
}
.range.show{
    visibility: visible;
}

.form.metadata.show button.selected{
    background-color: red;
}
