 *{
    padding: 0;
    margin: 0 auto;
  }

#header{
    width: 100vw;
    height: 100px;
    border-bottom: 0.3px groove;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    }

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    margin: 0;
}

a:hover{
    cursor: pointer;

}


#header ul{

    display: flex;
    flex-direction: row;

     }
     
#header li{
    margin-right: 40px;
}



#header .logo{
    position: relative;
    left: 200px;
}

#header .signupAndLogin{
    position: relative;
    left: -230px;
}
#header .signupAndLoginBtn{
    transition: 0.8s;
}
#header .signupAndLoginBtn:hover{
    transform: scale(1.3);
}


.dropdown {
    position: relative;
    display: inline-block;
  }
.dropdown .dropdown-content{
    display: flex;
    flex-direction: column;
    width: 200px;
    position: absolute;
    margin-top: 13px;
    z-index: 1;
    background-color: grey;
    color: white;
    opacity: 0;
    transition: 0.2s;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.dropdown .dropdown-content.show{
    opacity: 1;
}

.dropdown .dropdown-content.show a{
    margin-top: 10px;
    margin-left: 5px;

}

.dropdown .dropdown-content.show a:last-child{
    margin-top: 10px;
    margin-bottom: 10px;
}